/* Body 设置：黑白前景、背景；字体、大小、行高；页边距
   -------------------------------------------------- */
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
html {
    font-size: 85%;
}

@font-face {
  font-family: JDFHeifang;
  src: url(../fonts/JDFHeifang.ttf) format("opentype");
}
@font-face {
  font-family: JDFHeiCu;
  src: url(../fonts/JDFHeiCu.ttf) format("opentype");
}
@font-face {
  font-family: JDFChaoSong;
  src: url(../fonts/JDFChaoSong.ttf) format("opentype");
}
@font-face {
  font-family: JDFSong;
  src: url(../fonts/JDFSong.ttf) format("opentype");
}
@font-face {
  font-family: JDFKai;
  src: url(../fonts/JDFKai.ttf) format("opentype");
}

body {
    padding: 30px;
    font-family: 'JDFHeiCu', "Helvetica Neue", Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
    /*Menlo, Monaco, monospace*/
    font-size: 20px;
    line-height: 1.5;
    color: black;
    background-color: white;
}
p {
    margin: 0 0 36px;
}


/* outline 设置：标题字体与配色（真红：#840228）
   -------------------------------------------------- */
.title {
    margin-bottom: 20px;
    font-size:32px;
    text-align: center;
}
h1 {
    font-size:28px;
}
h2, h3, h4 {
    font-size:24px;
}
h1, h2, h3, h4{
    margin: 30px 0 20px;
    font-weight: bold;
    line-height: 1.2;
    color: #840228;
    text-rendering: optimizeLegibility;
}


h2:before, h3:before, h4:before {
    position: relative;
    top: auto;
    color: #005831;
}
h2:before {
    content: "*";
    left: -0.8em;
}
h3:before {
    content: "**";
    left: -0.8em;
}
h4:before {
    content: "***";
    left: -0.8em;
}


/* 容器，报头，导航条 设置 ：95%宽度，蓝紫：#8a2be2
   -------------------------------------------------- */
.container {
    margin: 0 auto;
    max-width: 95%;
}
/* head */
.masthead {
    color: #8a2be2;
    border-bottom: 5px solid #4e72b8;
}
.masthead a {
    color: #8c531b;
}
.masthead a:hover {
    text-decoration: underline;
    color: #4e72b8;
}
.masthead ul {
  list-style: none;
  margin: 12px 0;
}
.masthead li {
    display: inline-block;
}
.masthead li + li:before {
    display: inline-block;
    content: "\00B7 \00a0";
    color: #8a2be2;
}
.masthead img.avatar {
    position: absolute;
    width: 200px;
    top: 100px;
    right: 29%;
    background-color: #fff;
}


/*site-nav*/
.site-nav {border-top: 5px solid #4e72b8;}
.site-nav .menu-icon { display: none; }
.site-nav li a {line-height: 1.5; }
.site-nav li a:not(:first-child) { margin-left: 20px; }


/* searchform*/
#searchform {
    position: absolute;
    top: 100px;
    right: 30%;
}
#searchform #s {
    background: url("/media/img/search.png") no-repeat 5px 6px;
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    border: 2px solid #102b6a;
    border-radius: 4px;
    -moz-border-radius: 2px;
    width: 120px;
    height: 30px;
    line-height: 14px;
    padding: 5px 10px 5px 30px;

    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
}
#searchform #s:focus {
    background-color: #f9f9f9;
    width: 160px;
}


/* 目录框设置 ：
   -------------------------------------------------- */
#table-of-contents {
    position: fixed;
    right: 0.2em;
    top: 0.2em;
    background: #afb4db;
    border:2px solid #e1e1e8;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    text-align: center;
    /* ensure doesn't flow off the screen when expanded */
    max-height: 80%;
    overflow: auto; 
    z-index: 200;
}
#table-of-contents h2 {    
    max-width: 15em;
    font-weight: normal;
    padding-left: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em; 
}
#table-of-contents ul {
    margin-left: 10pt; 
    margin-bottom: 2pt;
    padding: 0
}
#table-of-contents li {
    padding: 0;
    margin: 2px;
}
#table-of-contents ul>:first-child {
    color: ;
}
#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em; 
}


/* 页脚设置 ：
   -------------------------------------------------- */
/* footer */
.footer {
    margin: 80px 0 0;
    text-align: center;
    font-size: 15px;
    color: black;
}
.footer > p {
    margin: 0;
    line-height: 1.5;
}
.footdef {
    margin: 0 0 20px;
}
.footpara {
    display: inline;
}


/* site-nav 设置：
   -------------------------------------------------- */
@media screen and (max-width: 512px) {
  .site-nav {border-top: 1px solid #e8e8e8; text-align: left; }
  .site-nav .menu-icon { display: block; width: 36px; height: 21px; line-height: 0; margin-top: 10px; margin-bottom: 5px; text-align: center;
                         }
  .site-nav .menu-icon > svg { width: 18px; height: 15px; }
  .site-nav .menu-icon > svg path { fill: #00aaff; }
  .site-nav .trigger { clear: both; display: none; }
  .site-nav:hover .trigger { display: block; padding-bottom: 5px; }
  .site-nav li{ display: block; padding: 5px 10px; }
  .site-nav li:before{ display: inline-block; content: "\00B7 \00a0"; color: #372bf3;}}

/* whole page */
@media (min-width: 768px) {
    /* Increase body padding and font-sizes */
    body {
        padding: 30px;
        font-size: 18px;
        line-height: 1.75;
    }
    h1:before, h2:before, h3:before, h4:before{
        display: inline;
    }
}

@media (min-width: 1024px) {
    body {
        padding: 30px;
    }
}


/* 缩略图设置：
   -------------------------------------------------- */
/* post */
.post {
    position: relative;
    border-bottom: 1px solid #e2e3e4;
}

.post img {
    max-width: 100%;
}

/* special for li in pre */
.post pre li {
    list-style-type: decimal;
}

.post pre li:before {
    display: none;
}

/* meta info */
.post-info {
    display: inline-block;
    margin: -10px 0 -10px;
    color: #660033;
}
.post-info + .post-info:before {
    content: "\2223 \00a0";
}
.post-meta {
    border-bottom: 1px solid #660033;
}
.center { margin-left: auto; margin-right: auto; text-align: center; }


/* 各种标签格式设置：
   -------------------------------------------------- */
/* 图表 */
table {
    line-height: 1.8;
    margin-bottom: 15px;
    max-width: 100%;
    width: 100%;
}
table td, table th {
    padding: 0 15px;
}
table th.left, table td.left {
    text-align: left;
}
table th.right, table td.right {
    text-align: right;
}
.figure p + p {
    text-align: center;
}

/* 列源码 */
pre {
    display: block;
    margin: 0 0 14px;
    padding: 15px;
    border: 1px solid #e1e1e8;
    border-radius: 3px 3px 3px 3px;
    line-height: 20px;
    background-color: #afb4db;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
pre.src {
    padding-top: 1.2em;
    position: relative;
}
pre.src:before {
  display: none;
  position: absolute;
  background-color: white;
  top: -18px;
  right: 10px;
  padding: 3px;
  border: 2px solid black;
}
pre.src:hover:before {
  display: inline;
  background-color: #ffcccc;
  border: 1px solid #e1e1e8;
}
pre.src-sh:before    { content: 'sh'; }
pre.src-bash:before  { content: 'sh'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-C:before     { content: 'C/C++'; }
pre.src-matlab:before  { content: 'matlab'; }
pre.src-maxima:before  { content: 'maxima'; }
pre.src-lisp:before   { content: 'common lisp'; }

blockquote {
    padding: 0 0 0 20px;
    margin: 0 30px 20px -22.5px;
    color: #999;
    border-left: 8px solid #e5e5e5;
}
blockquote p:last-child {
    margin-bottom: 0;
}

code, pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.9em;
}

code {
    color: #d14d14;
}
code:before, code:after {
    content: " ";
    color: #3aff3a;
}

/* 字体变形 */
i, em, b, strong {
    padding-left: .1em;
    padding-right: .1em;
}
b, strong {
    font-weight: bold;
    color: #00ffff;
}
b:before, b:after, strong:before, strong:after {
    content: "*";
}
i:before, i:after, em:before, em:after {
    content: "/";
}
.underline {
    text-decoration: underline;
    color: #d14d14;     
}
.underline:before, .underline:after {
    content: "_";
    color: #3aff3a;
}

/* 超链接 */
a {
    font-weight: inherit;
    line-height: inherit;
    color: #660000;
    text-decoration: none;
}
sup a:before {
    content: "[";
}
sup a:after {
    content: "]";
}
a:hover {
    text-decoration: underline;
    color: #333366;
}


/* 列项 */
hr {
    margin: 0;
    border: 0;
    border-bottom: 1px solid #e2e3e4;
}
